body {
  background: #BFFFA5;
  text-align: center; }

span.cls_004 {
  font-size: 12.1px;
  color: #e3725b;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

div.cls_004 {
  font-size: 12.1px;
  color: #e3725b;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

span.cls_003 {
  font-size: 60.0px;
  color: #53483a;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

div.cls_003 {
  font-size: 60.0px;
  color: #53483a;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

span.cls_006 {
  font-size: 6.0px;
  color: #53483a;
  font-weight: normal;
  font-style: normal;
  text-decoration: none; }

div.cls_006 {
  font-size: 6.0px;
  color: #53483a;
  font-weight: normal;
  font-style: normal;
  text-decoration: none; }

span.cls_007 {
  font-size: 9.1px;
  color: #53483a;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

div.cls_007 {
  font-size: 9.1px;
  color: #53483a;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

span.cls_008 {
  font-size: 9.1px;
  color: #20b466;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

div.cls_008 {
  font-size: 9.1px;
  color: #20b466;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

span.cls_009 {
  font-size: 9.1px;
  color: #4ab5d4;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

div.cls_009 {
  font-size: 9.1px;
  color: #4ab5d4;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

span.cls_010 {
  font-size: 9.1px;
  color: #e6ac51;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

div.cls_010 {
  font-size: 9.1px;
  color: #e6ac51;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

span.cls_011 {
  font-size: 6.0px;
  color: #a2a5a7;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

div.cls_011 {
  font-size: 6.0px;
  color: #a2a5a7;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

span.cls_020 {
  font-size: 9.1px;
  color: #e3725b;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

div.cls_020 {
  font-size: 9.1px;
  color: #e3725b;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

span.cls_022 {
  font-size: 6.0px;
  color: #e3725b;
  font-weight: normal;
  font-style: normal;
  text-decoration: none; }

div.cls_022 {
  font-size: 6.0px;
  color: #e3725b;
  font-weight: normal;
  font-style: normal;
  text-decoration: none; }

span.cls_012 {
  font-size: 26.6px;
  color: #e3725b;
  font-weight: normal;
  font-style: normal;
  text-decoration: none; }

div.cls_012 {
  font-size: 26.6px;
  color: #e3725b;
  font-weight: normal;
  font-style: normal;
  text-decoration: none; }

span.cls_013 {
  font-size: 20.1px;
  color: #e3725b;
  font-weight: normal;
  font-style: normal;
  text-decoration: none; }

div.cls_013 {
  font-size: 20.1px;
  color: #e3725b;
  font-weight: normal;
  font-style: normal;
  text-decoration: none; }

span.cls_021 {
  font-size: 9.1px;
  color: #a2a5a7;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

div.cls_021 {
  font-size: 9.1px;
  color: #a2a5a7;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

span.cls_019 {
  font-size: 9.1px;
  color: #4ab5d4;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

div.cls_019 {
  font-size: 9.1px;
  color: #4ab5d4;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

span.cls_014 {
  font-size: 26.6px;
  color: #4ab5d4;
  font-weight: normal;
  font-style: normal;
  text-decoration: none; }

div.cls_014 {
  font-size: 26.6px;
  color: #4ab5d4;
  font-weight: normal;
  font-style: normal;
  text-decoration: none; }

span.cls_015 {
  font-size: 20.1px;
  color: #4ab5d4;
  font-weight: normal;
  font-style: normal;
  text-decoration: none; }

div.cls_015 {
  font-size: 20.1px;
  color: #4ab5d4;
  font-weight: normal;
  font-style: normal;
  text-decoration: none; }

span.cls_018 {
  font-size: 9.1px;
  color: #e6ac51;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

div.cls_018 {
  font-size: 9.1px;
  color: #e6ac51;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

span.cls_016 {
  font-size: 26.6px;
  color: #e6ac51;
  font-weight: normal;
  font-style: normal;
  text-decoration: none; }

div.cls_016 {
  font-size: 26.6px;
  color: #e6ac51;
  font-weight: normal;
  font-style: normal;
  text-decoration: none; }

span.cls_017 {
  font-size: 12.1px;
  color: #e6ac51;
  font-weight: normal;
  font-style: normal;
  text-decoration: none; }

div.cls_017 {
  font-size: 12.1px;
  color: #e6ac51;
  font-weight: normal;
  font-style: normal;
  text-decoration: none; }

span.cls_005 {
  font-size: 6.0px;
  color: #53483a;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

div.cls_005 {
  font-size: 6.0px;
  color: #53483a;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

span.cls_002 {
  font-size: 5.0px;
  color: #53483a;
  font-weight: normal;
  font-style: normal;
  text-decoration: none; }

div.cls_002 {
  font-size: 5.0px;
  color: #53483a;
  font-weight: normal;
  font-style: normal;
  text-decoration: none; }

span.cls_023 {
  font-size: 12.1px;
  color: #4ab5d4;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

div.cls_023 {
  font-size: 12.1px;
  color: #4ab5d4;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

span.cls_028 {
  font-size: 9.1px;
  color: #53483a;
  font-weight: normal;
  font-style: normal;
  text-decoration: none; }

div.cls_028 {
  font-size: 9.1px;
  color: #53483a;
  font-weight: normal;
  font-style: normal;
  text-decoration: none; }

span.cls_024 {
  font-size: 57.0px;
  color: #53483a;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

div.cls_024 {
  font-size: 57.0px;
  color: #53483a;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

span.cls_025 {
  font-size: 9.1px;
  color: #e3725b;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

div.cls_025 {
  font-size: 9.1px;
  color: #e3725b;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

span.cls_027 {
  font-size: 20.1px;
  color: #e3725b;
  font-weight: normal;
  font-style: normal;
  text-decoration: none; }

div.cls_027 {
  font-size: 20.1px;
  color: #e3725b;
  font-weight: normal;
  font-style: normal;
  text-decoration: none; }

span.cls_030 {
  font-size: 9.1px;
  color: #53483a;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

div.cls_030 {
  font-size: 9.1px;
  color: #53483a;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

span.cls_029 {
  font-size: 58.0px;
  color: #53483a;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

div.cls_029 {
  font-size: 58.0px;
  color: #53483a;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

span.cls_031 {
  font-size: 12.1px;
  color: #e6ac51;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

div.cls_031 {
  font-size: 12.1px;
  color: #e6ac51;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

span.cls_032 {
  font-size: 55.0px;
  color: #53483a;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

div.cls_032 {
  font-size: 55.0px;
  color: #53483a;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

span.cls_033 {
  font-size: 56.0px;
  color: #53483a;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

div.cls_033 {
  font-size: 56.0px;
  color: #53483a;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

span.cls_034 {
  font-size: 12.1px;
  color: #e3725b;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

div.cls_034 {
  font-size: 12.1px;
  color: #e3725b;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

span.cls_035 {
  font-size: 54.0px;
  color: #53483a;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

div.cls_035 {
  font-size: 54.0px;
  color: #53483a;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

span.cls_036 {
  font-size: 51.0px;
  color: #53483a;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

div.cls_036 {
  font-size: 51.0px;
  color: #53483a;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

span.cls_037 {
  font-size: 6.0px;
  color: #a2a5a7;
  font-weight: normal;
  font-style: normal;
  text-decoration: none; }

div.cls_037 {
  font-size: 6.0px;
  color: #a2a5a7;
  font-weight: normal;
  font-style: normal;
  text-decoration: none; }

span.cls_038 {
  font-size: 12.1px;
  color: #20b466;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

div.cls_038 {
  font-size: 12.1px;
  color: #20b466;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

span.cls_039 {
  font-size: 55.7px;
  color: #53483a;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

div.cls_039 {
  font-size: 55.7px;
  color: #53483a;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

span.cls_040 {
  font-size: 11.1px;
  color: #53483a;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

div.cls_040 {
  font-size: 11.1px;
  color: #53483a;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

span.cls_041 {
  font-size: 9.2px;
  color: #53483a;
  font-weight: normal;
  font-style: normal;
  text-decoration: none; }

div.cls_041 {
  font-size: 9.2px;
  color: #53483a;
  font-weight: normal;
  font-style: normal;
  text-decoration: none; }

span.cls_042 {
  font-size: 9.2px;
  color: #53483a;
  font-weight: normal;
  font-style: normal;
  text-decoration: none; }

div.cls_042 {
  font-size: 9.2px;
  color: #53483a;
  font-weight: normal;
  font-style: normal;
  text-decoration: none; }

span.cls_043 {
  font-size: 9.0px;
  color: #53483a;
  font-weight: normal;
  font-style: normal;
  text-decoration: none; }

div.cls_043 {
  font-size: 9.0px;
  color: #53483a;
  font-weight: normal;
  font-style: normal;
  text-decoration: none; }

span.cls_044 {
  font-size: 9.0px;
  color: #53483a;
  font-weight: normal;
  font-style: normal;
  text-decoration: none; }

div.cls_044 {
  font-size: 9.0px;
  color: #53483a;
  font-weight: normal;
  font-style: normal;
  text-decoration: none; }

span.cls_045 {
  font-size: 8.9px;
  color: #e3725b;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

div.cls_045 {
  font-size: 8.9px;
  color: #e3725b;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

span.cls_054 {
  font-size: 5.9px;
  color: #e3725b;
  font-weight: normal;
  font-style: normal;
  text-decoration: none; }

div.cls_054 {
  font-size: 5.9px;
  color: #e3725b;
  font-weight: normal;
  font-style: normal;
  text-decoration: none; }

span.cls_047 {
  font-size: 19.6px;
  color: #e3725b;
  font-weight: normal;
  font-style: normal;
  text-decoration: none; }

div.cls_047 {
  font-size: 19.6px;
  color: #e3725b;
  font-weight: normal;
  font-style: normal;
  text-decoration: none; }

span.cls_048 {
  font-size: 8.9px;
  color: #a2a5a7;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

div.cls_048 {
  font-size: 8.9px;
  color: #a2a5a7;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

span.cls_049 {
  font-size: 8.9px;
  color: #4ab5d4;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

div.cls_049 {
  font-size: 8.9px;
  color: #4ab5d4;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

span.cls_051 {
  font-size: 19.6px;
  color: #4ab5d4;
  font-weight: normal;
  font-style: normal;
  text-decoration: none; }

div.cls_051 {
  font-size: 19.6px;
  color: #4ab5d4;
  font-weight: normal;
  font-style: normal;
  text-decoration: none; }

span.cls_052 {
  font-size: 8.9px;
  color: #e6ac51;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

div.cls_052 {
  font-size: 8.9px;
  color: #e6ac51;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

span.cls_055 {
  font-size: 9.8px;
  color: #e6ac51;
  font-weight: normal;
  font-style: normal;
  text-decoration: none; }

div.cls_055 {
  font-size: 9.8px;
  color: #e6ac51;
  font-weight: normal;
  font-style: normal;
  text-decoration: none; }

span.cls_056 {
  font-size: 58.2px;
  color: #53483a;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

div.cls_056 {
  font-size: 58.2px;
  color: #53483a;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

span.cls_057 {
  font-size: 43.0px;
  color: #53483a;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

div.cls_057 {
  font-size: 43.0px;
  color: #53483a;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

span.cls_058 {
  font-size: 8.9px;
  color: #53483a;
  font-weight: normal;
  font-style: normal;
  text-decoration: none; }

div.cls_058 {
  font-size: 8.9px;
  color: #53483a;
  font-weight: normal;
  font-style: normal;
  text-decoration: none; }

span.cls_059 {
  font-size: 8.9px;
  color: #53483a;
  font-weight: normal;
  font-style: normal;
  text-decoration: none; }

div.cls_059 {
  font-size: 8.9px;
  color: #53483a;
  font-weight: normal;
  font-style: normal;
  text-decoration: none; }

span.cls_060 {
  font-size: 9.1px;
  color: #53483a;
  font-weight: normal;
  font-style: normal;
  text-decoration: none; }

div.cls_060 {
  font-size: 9.1px;
  color: #53483a;
  font-weight: normal;
  font-style: normal;
  text-decoration: none; }

span.cls_061 {
  font-size: 45.0px;
  color: #53483a;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

div.cls_061 {
  font-size: 45.0px;
  color: #53483a;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

span.cls_062 {
  font-size: 6.0px;
  color: #53483a;
  font-weight: normal;
  font-style: normal;
  text-decoration: none; }

div.cls_062 {
  font-size: 6.0px;
  color: #53483a;
  font-weight: normal;
  font-style: normal;
  text-decoration: none; }

span.cls_063 {
  font-size: 46.0px;
  color: #53483a;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

div.cls_063 {
  font-size: 46.0px;
  color: #53483a;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

span.cls_064 {
  font-size: 48.0px;
  color: #53483a;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

div.cls_064 {
  font-size: 48.0px;
  color: #53483a;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

span.cls_065 {
  font-size: 53.0px;
  color: #53483a;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

div.cls_065 {
  font-size: 53.0px;
  color: #53483a;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

span.cls_066 {
  font-size: 59.0px;
  color: #53483a;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

div.cls_066 {
  font-size: 59.0px;
  color: #53483a;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

span.cls_067 {
  font-size: 41.0px;
  color: #53483a;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

div.cls_067 {
  font-size: 41.0px;
  color: #53483a;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

span.cls_068 {
  font-size: 49.0px;
  color: #53483a;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

div.cls_068 {
  font-size: 49.0px;
  color: #53483a;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

span.cls_069 {
  font-size: 50.0px;
  color: #53483a;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

div.cls_069 {
  font-size: 50.0px;
  color: #53483a;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

span.cls_070 {
  font-size: 6.0px;
  color: #53483a;
  font-weight: normal;
  font-style: normal;
  text-decoration: none; }

div.cls_070 {
  font-size: 6.0px;
  color: #53483a;
  font-weight: normal;
  font-style: normal;
  text-decoration: none; }

span.cls_071 {
  font-size: 52.0px;
  color: #53483a;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

div.cls_071 {
  font-size: 52.0px;
  color: #53483a;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

span.cls_073 {
  font-size: 11.8px;
  color: #53483a;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

div.cls_073 {
  font-size: 11.8px;
  color: #53483a;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

span.cls_072 {
  font-size: 59.7px;
  color: #53483a;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

div.cls_072 {
  font-size: 59.7px;
  color: #53483a;
  font-weight: bold;
  font-style: normal;
  text-decoration: none; }

.container {
  position: absolute;
  margin: auto;
  width: 500px;
  height: 500px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.foamLeft, .foamDrip, .foamTop, .foamBlob1, .foamBlob2, .foamRight, .glass, .divet1, .divet2, .divet3, .handle, .bubble1, .bubble2, .bubble3, .bubble4, .bubble5, .shadow {
  position: relative;
  margin: auto; }

.foamLeft, .foamDrip, .foamTop, .foamBlob1, .foamBlob2, .foamRight {
  background: white; }

.foamLeft {
  top: 185px;
  left: -70px;
  height: 90px;
  width: 25px;
  border-radius: 90px 0px 30px 60px;
  z-index: 10; }

.foamDrip {
  top: 235px;
  left: -69px;
  height: 23px;
  width: 23px;
  border-radius: 100%;
  z-index: 10;
  animation: drip 4s linear infinite; }

.foamRight {
  top: 15px;
  left: 65px;
  height: 50px;
  width: 15px;
  border-radius: 0px 10px 10px 5px;
  z-index: 10; }

.foamTop {
  left: 0px;
  top: 75px;
  width: 120px;
  height: 20px;
  z-index: 10; }

.foamBlob1 {
  left: -30px;
  top: 40px;
  width: 60px;
  height: 20px;
  border-radius: 20px 20px 0px 0px; }

.foamBlob2 {
  left: 48px;
  top: 25px;
  width: 50px;
  height: 20px;
  border-radius: 10px 10px 0px 0px; }

.glass, .handle {
  background: #F5F3E7; }

.glass {
  top: -20px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 135px;
  height: 200px;
  border-radius: 20px;
  z-index: 2; }

.beer {
  position: relative;
  background: yellow;
  opacity: 0.75;
  top: -220px;
  bottom: 0;
  left: 190px;
  width: 120px;
  height: 190px;
  border-radius: 0px 0px 15px 15px;
  z-index: 2; }

.divet1, .divet2, .divet3 {
  background: #F5F3E7;
  opacity: .7;
  height: 80px;
  width: 20px;
  border-radius: 20px;
  z-index: 20; }

.divet1 {
  top: -330px;
  left: -30px; }

.divet2 {
  top: -410px;
  left: 0px; }

.divet3 {
  top: -490px;
  left: 30px; }

.handle {
  top: -580px;
  left: 80px;
  height: 90px;
  width: 25px;
  border-radius: 0px 10px 10px 0px; }

.bubble1, .bubble2, .bubble3, .bubble4, .bubble5 {
  background: yellow;
  border: 3px solid #f4c842;
  z-index: 1000;
  opacity: 0; }

.bubble1 {
  left: -80px;
  height: 2px;
  width: 2px;
  border-radius: 100%;
  animation: rise 2s linear infinite; }

.bubble2 {
  left: -70px;
  height: 4px;
  width: 4px;
  border-radius: 100%;
  animation: rise 2s linear infinite;
  animation-delay: 1s; }

.bubble3 {
  left: -75px;
  height: 3px;
  width: 3px;
  border-radius: 100%;
  animation: rise 2s linear infinite;
  animation-delay: 2s; }

.bubble4 {
  left: -85px;
  height: 2px;
  width: 2px;
  border-radius: 100%;
  animation: rise 2s linear infinite;
  animation-delay: 3s; }

.bubble5 {
  left: -95px;
  height: 4px;
  width: 4px;
  border-radius: 100%;
  animation: rise 2s linear infinite;
  animation-delay: 4s; }

.shadow {
  top: 80px;
  left: -145px;
  width: 160px;
  height: 10px;
  border-radius: 100%;
  background: #2a2a2a;
  z-index: -1; }

@keyframes drip {
  0% {
    top: 155px; }
  60% {
    top: 180px; }
  70% {
    top: 290px;
    opacity: 1; }
  100% {
    top: 290px;
    opacity: 0; } }

@keyframes rise {
  0% {
    top: 75px; }
  15% {
    opacity: 0.5; }
  30% {
    opacity: 1; }
  70% {
    opacity: 1; }
  100% {
    top: -60px;
    opacity: 0; } }
